---
// This simple page redirects /admin to /keystatic so the user can access the CMS easily
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/keystatic" />
  <title>Redirecting to Admin...</title>
</head>
<body>
  <p>If you are not redirected automatically, <a href="/keystatic">click here</a>.</p>
</body>
</html>
